.menu{
    background-color: rgb(154, 197, 35);
color: blueviolet;
height: 600px;
width: 221px;
float: left;
text-align: center;
margin-right: 5px;
}

.menu2{
    background-color: antiquewhite;
color: blueviolet;
height: 600px;
width: 800px;
float: left;
text-align: justify;
}